.favorite-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.favorite-bar-label {
    font-size: 14px;
}

.favorite-bar-button {
    font-size: 14px;
    color: white;
    background-color: #024878;
    border-radius: 5;
    width: 146px; 
    height: 40px;
    margin-right: 20px;
}
.favorite-bar-button-delete {
    font-size: 13px;
    color: white;
    background-color: #024878;
    border-radius: 5;
    width: 134px; 
    height: 40px;
}

.favorite-bar-button:disabled {
    color: #888888; 
    background-color: #024878; 
}

.favorite-bar-select {
    font-size: 14px;
    color: white;
    background-color: #024878;
    border: 1px solid black;
    border-radius: 0; 
    padding: 8px;
    width: 233px;
    height: 33;
    margin-left: 28;
}
